@{
    ViewData["Title"] = "Home Page";
}

<div class="text-md-left">
   <h1 class="display-4">Auzre Redis Cache</h1>
   <p>Redis Client: @ViewData["ClientList"]</p>
   <p>TestKey value: @ViewData["TestKey"]</p>
</div>
