@{
   ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>@ViewData["TransKey1"]</p>
<p>@ViewData["TransKey2"]</p>
<p>@ViewData["TransKey3"]</p>
